<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mongo Nachrichten Scraper</title> -->

  <!-- JQuery -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->

  <!-- Bootstrap v4 -->
<!--   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

  <link rel="stylesheet" href="/assets/css/style.css">

</head>

<body> -->

  <nav class="navbar navbar-expand-sm navbar-light">
    <a class="navbar-brand" href="/"><span>Mongo </span><span class="gothic">Nachrichten</span> <span>Scraper</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link nav-nonbtn" href="/home">Home</a>
          <!-- Modal -->
          <!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Article Notes</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              <div class="modal-body">

                <form method="post" action="">
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" name="username">
                  </div>
                  <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" placeholder="Password" name="password">
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Lets Go</button>
                  </div>
                </form>
              </div>

            </div>
          </div>
        </div> -->
        <!-- end modal -->

      </div>
    </div>
  </nav>

  <div>

		<div class="img-div">
			<img class="background-image" src="/assets/images/news-1172463_960_720.jpg" alt="newspaper_image">
		</div>
		<div class="boxed">
			<h1 class="home-header">Mongo Scraper</h1>
     	<h3 class="home-subheader">Access your saved articles here!</h3>
		</div>
      
  </div>

  <div class="content">

    <!-- {{{ body }}} -->

  </div>

<!--   <footer class="bg-dark text-white mt-4 footer navbar-fixed-bottom">
    Copyright &copy 2018 David Bauer
  </footer>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</body>

</html> -->